<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layot</title>
</head>
<body>
    <div class="contenedor">
        <header>
            <nav>
                <ul>
                    <li> <a href="#">Inicio</a></li>
                    <li> <a href="#">Acerca de Nosotros</a></li>
                    <li> <a href="#">Compras</a></li>
                    <li> <a href="#">Contactanos</a></li>
                </ul>
            </nav>
        </header>
        <section class="main">
            <div class="imagen">
                <img src="../../img/imagen_de_curso1.png" alt="">
            </div>
            <section class="posts">
                <article>
                    <h2>Titulo del articulo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                        liquam cupiditate quibusdam suscipit odit iste aperiam earum temporibus <br>
                        ea numquam, ratione expedita saepe fugiat perspiciatis deserunt veritatis <br>
                        consequuntur ipsam officiis.</p>
                       
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                            liquam cupiditate quibusdam suscipit odit iste aperiam earum temporibus <br>
                            ea numquam, ratione expedita saepe fugiat perspiciatis deserunt veritatis <br>
                            consequuntur ipsam officiis.</p>
                </article>
            </section>
        </section>
        <aside>
            <div class="widget">
                <h3>Articulos descados</h3>
                <ul>
                    <li> <a href="#">Lorem ipsum dolor sit amet </a> </li>
                    <li> <a href="#">Lorem ipsum dolor sit amet </a> </li>
                    <li> <a href="#">Lorem ipsum dolor sit amet </a> </li>
                    <li> <a href="#">Lorem ipsum dolor sit amet </a> </li>
                    <li> <a href="#">Lorem ipsum dolor sit amet </a> </li>

                </ul>
            </div>
            <div class="widget">
                <h3>Información</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptas, sit? Earum impedit minima, enim, distinctio quasi natus ipsum,
                    repudiandae iste ab repellendus provident.
                    Aut reprehenderit, fugit magni commodi nisi ipsam.</p>
            </div>
        </aside>
        <footer> <p> <small> Fernando Márquez 2021 - Todos los derechos reservados </small> </p> </footer>
    </div>
    
</body>
</html>