* {
    padding: 0;
    margin: 0;
}
body {
    background: #f2f2f2;
    font-family: Arial;
}
.cajaPadre {
    background: #2e294a;
    width: 700px;
    overflow: hidden;
/* overflow:hidden es otra mejor manera de arreglar el error de float */
}
.caja {
    width: 200px;
    color: #fff;
    font-size: 30;
    height: 200px;
    background: #0e6ba8;
    margin: 20px;
}
.uno {
    float: left;
}
.dos {
    float: right;
}
/* .clear {
    clear: both;
} */
/* con clear podemos arreglar 
el error que tiene float pero
 se tiene que añadir mas codigo
  html pero hay otras opciones */