body {
    font-family: Arial, Helvetica, sans-serif;
}
/*De esta manera se puede hacer una tabla como las de exel:*/
table, td, th {
    border:1px solid rgba(0, 0, 0, .2);
}

table {
    border-collapse: collapse;
    width: 500px;
    text-align: center;

}
th, td {
    padding: 10px 20px;
}
th {
    background: #009ddc;
    color: #fff;
}

tr:hover {
    background: #e5e5e5e5;
}
/* border-collapse: collapse sirve para unificar los bordes y haci quedencomo cuadricula*/